<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>alenia</name>
	<displayName><![CDATA[A IIITM Venue Management System]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Build a brand venue management website with just a click.]]></description>
	<author><![CDATA[Piyush Kumar]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>